@media only screen and (max-width:991px){
    .carousel-caption {
      
       
        width: 80%;
      
    }
}

@media only screen and (max-width:991px){
    .navbar-default .navbar-nav>li {
        padding: 0 13px;
    }
    .mt-md-30{
        margin-top: 50px;
    }
}

@media only screen and (max-width:767px){
    section.section {
        padding: 25px 0;
    }
    .mt-sm-30{
        margin-top: 30px;
    }
    .carousel-inner>div{
        min-height: 500px;
    }
    .navbar-default.fixed{
        height: 70px;
        padding-bottom: 10px;
    }
    .navbar-brand{
        height: 50px;
    }
    .navbar-collapse>div{
        height: auto;
        align-items: flex-start;
        flex-direction: column-reverse;
    }
    .navbar-default .navbar-collapse{
        background-color: #32446c;
    }
    .navbar-header{
        margin-bottom: 10px;
    }
    .navbar-default .navbar-nav.mainmenu {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 15px 0;
        border-bottom: 1px solid #4b5a7d;
    }
    .navbar-default .navbar-nav.mainmenu>li>a {
        padding:10px 15px;
        font-size: 13px;
    }
    .navbar-collapse {
        padding-right: 20px;
    }
    .navbar-default .navbar-nav>li>a:after {
       
       content: none;
    }
    .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus,
     .navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus,
     .navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
        background-color: #405688;
        
    }
    .navbar-nav{
        margin: 0;
    }
    .navbar-default .navbar-nav.language{
        display: flex;
        padding: 20px;
    }
    .carousel-caption {
        right: 100px;
        width: auto;
        left: 100px;
    }
    .navbar-default .navbar-collapse, .navbar-default .navbar-form{
        border: none;
    }
    .navbar-default .navbar-nav.language>li {
        padding: 3px 10px;
    }
    .navbar-default .navbar-nav.language>li>a {
        font-size: 14px;
        padding: 5px 15px;
    }
    .navbar-default .navbar-nav.language>li:nth-child(even){
        padding: 8px 15px;
    }
    .carousel-caption h2 {
       
        font-size: 30px;
        margin: 0 0 13px 0;
    }
    .carousel-caption p {
       
        font-size: 16px;
        padding-left: 10%;
    }
    .flexMiddle{
        display: block;
    }
    .flexMiddle>div:first-child{
        margin-bottom: 30px;
    }
    .flexMiddle .content{
        text-align: center;
    }
    .flexMiddle>div{
        display: block;
        
    }
    .ourServices{
        flex-wrap: wrap;
    }
    .ourServices>li{
        width:50%;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .successList,.partnersList{
        flex-wrap: wrap;
     
    }
    .successList li{
       
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .partnersList li{
       height: 40px;
       margin-top: 20px;
    margin-bottom: 20px;
        width: 50%;
    }
    footer .col-sm-7 h3{
        margin-top: 30px;
        margin-bottom: 10px;
    }
    .footer-bottom ul{
        flex-wrap: wrap;
    }
    .list li{
        font-size: 14px;
    }
    .bannerSection{
        height: 250px;
        background-position: bottom;
       
    }
    .services .tab-content p {
        line-height: 28px;
    }
    .jobs_filter {
        align-items: flex-start;
        flex-direction: column;
    }
    .dropdown+.dropdown {
        margin-left: 0px;
        margin-top: 10px;
    }
    .jobs_filter .secondary_title{
        margin-bottom:10px;
    }
    .careerDetail p {
        line-height: 26px;
        width: 100%;
       margin-bottom: 10px;
    }
    .careerDetail {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
     .secondary_title {
        font-size: 26px;
    }
    .services p {
        font-size: 16px;
        line-height: 26px;
    }
}
@media only screen and (max-width:460px){
.flexMiddle .content {
    font-size: 14px;
    line-height: 26px;
    margin: 0;
}
.carousel-caption h2 {
    font-size: 24px;
    text-align: center;
}
.carousel-caption p {
    font-size: 14px;
    padding-left: 0;
    text-align: center;
}
.ourServices>li,.partnersList li {
    width: 100%;
    justify-content: center;
   
}
.carousel-caption {
    right: 70px;
    width: auto;
    left: 70px;
    bottom: 20%;
}
}